In [185]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import precision_score, roc_curve, auc, recall_score
from sklearn import preprocessing
from sklearn.datasets import load_iris

In [186]:
from IPython.display import SVG
from graphviz import Source
from IPython.display import display
from IPython.display import HTML
style = "<style>svg{width: 70% !important; height: 60% !important;} </style>" 
HTML(style)

## 2.8

In [187]:
submissions= pd.read_csv("submissions_data_train.csv")

In [188]:
submissions

        step_id   timestamp submission_status  user_id
0         31971  1434349275           correct    15853
1         31972  1434348300           correct    15853
2         31972  1478852149             wrong    15853
3         31972  1478852164           correct    15853
4         31976  1434348123             wrong    15853
...         ...         ...               ...      ...
509099   120745  1501946959             wrong     2615
509100   120745  1503059927           correct    13177
509101   120745  1506348153             wrong    15253
509102   120745  1523035316             wrong     1424
509103   120745  1523382825             wrong     9422

[509104 rows x 4 columns]

In [189]:
wrong_subs = submissions[submissions['submission_status'] == 'wrong'].drop('submission_status', axis=1)

In [190]:
correct_subs = submissions[submissions['submission_status'] == 'correct'].drop('submission_status', axis=1)

In [191]:
left_only = wrong_subs.merge(correct_subs, \
                             on = ['user_id', 'step_id'], \
                             how = 'outer', indicator=True).query('_merge=="left_only"')

In [192]:
left_only = left_only.drop(['timestamp_y','_merge'], axis =1)

In [193]:
left_only = left_only.groupby(['step_id']).agg({'timestamp_x':'max', 'user_id':'count'}).rename(columns={'user_id':'users'})

In [194]:
left_only[left_only.users == left_only.users.max()]

          timestamp_x  users
step_id
32202    1.526763e+09   1961

In [195]:
new = wrong_subs.groupby(['step_id']).agg({'timestamp':'max', 'user_id':'count'}).rename(columns={'user_id':'users'})

In [196]:
new[new.users == new.users.max()]

          timestamp  users
step_id
31978    1526764091  16084

In [197]:
wrong_subs.groupby(['user_id']).agg({'timestamp' : 'max', 'step_id' : 'max'}).reset_index().step_id.mode()

0    32812
dtype: int64

In [198]:
submissions.mode()

   step_id   timestamp submission_status  user_id
0    31978  1491590313             wrong    12265